@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ant-notification {
  z-index: 9999 !important;
}

.ant-notification-notice-message {
  display: block !important;
  color: #000 !important;
  font-weight: bold;
}